#body{
    /*background-color: #84A59D;*/
    background-color: #5D2A42;
    color: white;
    position:relative;
}

#text-link{
    color:white;
}
#text-link:hover{
    color: #FCB1A6;
}

#header-indv-project{
    cursor: pointer;
    color: white;
}
