body {
    font-family: 'Source Code Pro', monospace;
    
    
}

#text-link {
    color: white;
}

#text-link:hover {
    color: #FCB1A6;
}

#header-indv-project {
    cursor: pointer;
}

.card{
    /*shadows*/
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: black;
   
    padding: 10px;*/
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    /* box-shadow: 0 8px 16px 0 black*/
 
     transform: translateY(-2px);
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
 }
 #skills li{
    transition: all 0.3s ease;
    padding: 0.75 rem;
    border-radius: 0.5rem;
}

#skills li:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
