/*#nav-header{
    color: #FB6376;
}
#nav-item{
    color: #FB6376;
    
}
#nav-item:hover{
    color: #FCB1A6;
}

#social{
    color: #FB6376;
}
    */
    #nav-header{
        color:white;
    }
    #nav-item{
        color:white;
    }
    #nav-item:hover{
        color: #CEC3C1;
    }
    #social{
        color:white;
    }
    #social:hover{
        color: #CEC3C1;
        
    }